.component-icon_button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5em;
    height: 5em;
    border: 5px solid var(--ui-accent);
    border-radius: 2em;
    cursor: pointer;

    color: var(--text-inverse);
    background-color: var(--ui-box-primary-light);
}

.component-icon_button img {
    width: 80%;
    height: 80%;
}

.component-icon_button:hover {
    background-color: var(--ui-box-primary-dark);
}

.component-icon_button:active {
    transform: scale(0.96);
    transition: transform 0.05s ease;
}