@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root 
{
    /*Typography*/
    --text-main: #FFFFFF;
    --text-inverse: #111111;

    /*Backgrounds*/
    --bg-primary-dark: #07162C;
    --bg-secondary-dark: #030A14; /*Navbar background color*/
    --bg-primary-light: #80C4E9;
    --bg-secondary-light: #F0F4F8;
    
    /*UI-elements*/
    --ui-box-primary-hover: #fcb901; /*Hover color for the --ui-box-primary-light*/ 
    --ui-box-primary-light: #FFD700; /*Main Color of all text box(the bright one)*/
    --ui-accent: #9C3E04;   /*The border color of --ui-box-primary-light*/

    /*Progress Bar*/
    --ui-progress: #44E300; /*The main fill inside the progress bar*/
    --ui-landscape-dark: #153A06; /*The border color of --ui-progress*/

    /*Selection-Multi*/
    --select-color: #38a10b; /*The color of the box for the multiple selection*/
    --select-color-border: #153a06; /*border color for selected items*/
    --select-color-hover: #44E300; /*Hover color for the selected items*/
    
    --ui-landscape-light: #3B8C18;
    
    /*Neutral*/
    --neutral-light-dark: #F8F9FA;
    --neutral-dark-dark: #111111;

    /*Button*/
    --close-button: #ff0000;
    --close-button-border: #910202;
    --close-button-hover: #b90000;

    --theme-btn-bg: #2563EB;
    --theme-btn-border: #1E3A8A;
    --theme-btn-hover: #3B82F6;

    /*Dynamic sky gradient: Night Time*/
    --sky-1: #000b18;
    --sky-2: #01182d;
    --sky-3: #0a2e50;
    --sky-4: #251b3d;
    --sky-5: #3a102a;
}

@media (prefers-color-scheme: light) 
{
    :root
    {
        --bg-primary-dark: #a5d8ff;
        --bg-secondary-dark: #ffffff;
        --ui-landscape-dark: #4caf50;
        --ui-box-primary-dark: #f2c94c;
        --text-main: #111111;
        --text-inverse: #FFFFFF;

        --theme-btn-bg: #4A90E2;
        --theme-btn-border: #0a71d1;
        --theme-btn-hover: #6CB2EB;

        --sky-1: #4287f5;
        --sky-2: #73a9ff;
        --sky-3: #8a9cba;
        --sky-4: #d6b767;
        --sky-5: #fffd96;
    }
}

[data-theme="light"] 
{
    --bg-primary-dark: #a5d8ff;
    --bg-secondary-dark: #ffffff;
    --ui-landscape-dark: #4caf50;
    --ui-box-primary-dark: #f2c94c;
    --text-main: #1a1a1a;
    --text-inverse: #111111;

    --theme-btn-bg: #4A90E2;
    --theme-btn-border: #0a71d1;
    --theme-btn-hover: #6CB2EB;

    --sky-1: #4287f5;
    --sky-2: #73a9ff;
    --sky-3: #8a9cba;
    --sky-4: #d6b767;
    --sky-5: #fffd96;
}

[data-theme="dark"] 
{
    --bg-primary-dark: #01182D;
    --bg-secondary-dark: #000A14;
    --ui-landscape-dark: #153A06;
    --ui-box-primary-dark: #DAB900;
    --text-main: #FFFFFF;
    --text-inverse: #111111;

    --theme-btn-bg: #2563EB;
    --theme-btn-border: #1E3A8A;
    --theme-btn-hover: #3B82F6;

    --sky-1: #000b18;
    --sky-2: #01182d;
    --sky-3: #0a2e50;
    --sky-4: #251b3d;
    --sky-5: #3a102a;
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Primary-Font*/
@font-face 
{
    font-family: 'Gamer';
    src: url('assets/fonts/Gamer.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body 
{
   background-color: var(--bg-primary-dark);
   color: var(--text-main);
   font-family: 'VT323', 'Courier New', monospace;
}

h1, h2, h3 
{
    font-family: 'Gamer', 'Lucida Console', 'Courier New', monospace;
}

*,*::before, *::after 
{
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}